{% load static %}
<!DOCTYPE html>
<html>
<head> <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>FAQ</title>
</head>
<body>
    <nav>
    <a href="/">Home</a> |
    <a href="/products/">Products</a> |
    <a href="/about/">About</a> |
    <a href="/contact/">Contact</a>
</nav>
<div class="page-container">


<hr>
    <h1>Frequently Asked Questions</h1>
    <p>Q: Do you sell in bulk?</p>
    <p>A: Yes.We specialize in bulk beverage sales. Whether you need cases, pallets, or full truckloads, we are set up for large-volume orders.</p> 
    <p>Q: What types of beverages do you sell?</p>
    <p>A: We offer a wide range including: still & sparkling water, fruit juices, soft drinks, energy drinks, iced teas, functional beverages, organic options, and sugar-free/low-calorie drinks.</p>
    <p>Q: What packaging options are available?</p>
    <p>A: We supply beverages in cases, cartons, pallets, barrels, and customizable bulk formats to match your business needs.</p>
    <p>Q: Do you offer delivery? </p>
    <p>A: Yes. We provide reliable delivery service to [your service area]. Fast turnaround and scheduled deliveries are available. </p>

    </div>

<footer>
    Wholesale Beverage Shop Management System © 2026
</footer>

</body>
</html>