{% load static %}
<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>COLE'S BEVERAGE DEPO</title>
</head>
<body>
   
    <h1>COLE'S BEVERAGE DEPO</h1>
    <nav>
     <a href="/">Home</a>
    <a href="/products/">Products</a>
    <a href="/about/">About</a>
    <a href="/faq/">FAQ</a>
    <a href="/contact/">Contact</a>
    <a href="/register/">Register</a> |
    <a href="/login/">Login</a> |
    <a href="/logout/">Logout</a>
    </nav>

<div style="text-align:center;">
   <p>WELCOME TO OUR WHOLESALE BEVERAGE DISTRIBUTION WEBSITE.</p>
 <p> WE SUPPLY BOTTLED WATER, SOFT DRINKS, ENERGY DRINKS, FRUIT JUICES
    AND MALT BEVERAGES IN BULK.
    </p>
</div> 
    
<div class="page-container">

    <h2>Our Product Categories</h2>

    <div class="product-container">

        <div class="product-card">
            <h3>Soft Drinks</h3>
            <p>Coca-Cola, Sprite and Fanta.</p>
        </div>

        <div class="product-card">
            <h3>Energy Drinks</h3>
            <p>Red Bull, Monster and Prime.</p>
        </div>

        <div class="product-card">
            <h3>Fruit Juices</h3>
            <p>Orange, Apple and Pineapple Juice.</p>
        </div>

        <div class="product-card">
            <h3>Bottled Water</h3>
            <p>Voltic and Bel Aqua.</p>
        </div>

        <div class="product-card">
            <h3>Malt Drinks</h3>
            <p>Malta Guinness and Beta Malt.</p>
        </div>

    </div>

    <div class="page-container">

    <h2>Why Choose Us?</h2>

    <ul>
        <li>Affordable wholesale pricing</li>
        <li>Reliable product supply</li>
        <li>Fast order processing</li>
        <li>Quality beverages from trusted brands</li>
        <li>Excellent customer service</li>
    </ul>

</div>

</div>
    <footer>
    Wholesale Beverage Shop Management System © 2026
</footer>
     
</body>
</html>